$browser-context: 16; // Default font size

// Colors
$gray-1: #ffffff;
$gray-2: #efefef;
$gray-3: #eaeaea;
$gray-4: #efefef;

$gray-1: #eeeeee;
$gray-2: #dddddd;
$gray-3: #cccccc;
$gray-4: #bbbbbb;

$contrast-5: #29a8ab;
$contrast-0: #cff1fb;
$contrast-1: #5db9d4;
$contrast-2: #38add0;
$contrast-3: #2b86a1;
$contrast-4: #1b5161;

$darkblue-1: #0f212d;
$darkblue-2: #122734;
$darkblue-3: #070e16;
$darkblue-4: #0f1f2b;
